<p-orderList id="doctor-list" [value]="doctors" [style]="{'margin-top': '3rem', 'margin-right': '3rem'}"
    [listStyle]="{'max-height':'30rem'}" header="Doctors" filterBy="name" filterPlaceholder="Filter by name"
    [dragdrop]="true">
    <ng-template let-doctor pTemplate="item" let-i="index">
        <div class="product-item" (click)="showDoctorModal(i)">
            <div class="image-container">
                <img src="{{ doctor.avatar ? doctor.avatar : '../../../../../assets/images/doctor_default_avatar.png' }}"
                    alt="x" class="product-image" />
            </div>
            <div class="product-list-detail">
                <h5 class="mb-2">{{ doctor.name}}</h5>
                <mat-chip-list #chipList>
                    <ng-template ngFor let-item [ngForOf]="doctor.specialists" let-i="index">
                        <mat-chip style="background-color: blue; color: white;">{{ "#" + item.name }}</mat-chip>
                    </ng-template>
                </mat-chip-list>

                
            </div>
            <div class="product-list-action">
                <span>{{ 'Favourites: ' + doctor.likeReceived}}</span>
            </div>
        </div>
    </ng-template>
</p-orderList>

<p-dialog *ngIf="this.currentDoctor?.name" header="{{ 'More about ' + currentDoctor.name }}" [(visible)]="displayDoctorModal"
    [style]="{width: '50vw', height:'80vh'}">
    <div class="doctor-dialog-img">
        <img src="{{ currentDoctor.avatar ? currentDoctor.avatar : '../../../../../assets/images/doctor_default_avatar.png' }}"
            [style]="{
                width: '200px',
                height: '200px'
            }">
    </div>

    <div class="doctor-dialog-img">
        <div class="doctor-name-age">
            <div style="margin-right: 10px;">{{ currentDoctor.name }}</div>
            <div style="font-size: medium; font-weight: 600;">{{ currentDoctor.age }}</div>
        </div>
    </div>

    <div class="doctor-dialog-img">
        <div class="doctor-dialog-button">
            <div class="doctor-action-button">
                <button (click)="chatWithDoctor()" pButton pRipple type="button" icon="pi pi-comment"
                    class="p-button-rounded p-button-info"></button>
            </div>

            <div class="doctor-action-button">
                <button (click)="addDoctorToFavour()" pButton pRipple type="button" icon="pi pi-heart"
                    class="p-button-rounded p-button-danger"></button>
            </div>

            <div class="doctor-action-button">
                <button (click)="createAppointment()" pButton pRipple type="button" icon="pi pi-calendar"
                    class="p-button-rounded p-button-info"></button>
            </div>
        </div>
    </div>

    <hr>

    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
        incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
        quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
        autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
        vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
        similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
        rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
        cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
        repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
        eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
        delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
        repellat.</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayDoctorModal=false" label="Ok" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>