<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/app/advise" href="#">Doctor Advise<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app/blogs" href="#">Health Blogs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Docter advise</a>
          <a class="dropdown-item" href="#">Health blogs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>

    <div class="nav-right">
      <div class="dropdown" (click)="switchDropdown()">
        <img
        src="{{ srcAvatar ? srcAvatar : '../../../assets/images/default_avatar.svg' }}"
        style="width: 40px; height: 40px; cursor: pointer;"
      >
      <div *ngIf="shouldDisplayDropdownContent" class="dropdown-content">
        <ul >
          <li><a>Settings</a></li>
          <li><a>Settings</a></li>
          <li><a>Settings</a></li>
          <hr>
          <li><a (click)="logout()" style="cursor: pointer;">Log out</a></li>
        </ul>
      </div>
      </div>
    </div>

  </div>
</nav>